body {
  background-color: #f6f4e8;
  color: 5e5d5d;
  font-family: 'Roboto', sans-serif;
}
.rongboxborder {
  width: 200px;
  height: 150px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24),
    0 0 2px rgba(10, 16, 20, 0.12);
  background-color: #f6f4e8f6;
}
.rongboxbg {
  background-color: #e59560;
}
.rongboxborder p {
  line-height: 150px;
}
.rongtextcolor {
  color: white;
}
.rongproducttype {
  width: 850px;
  border-bottom: 1px solid #5e5d5d;
  margin-top: 30px;
}
/* .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: black;
    font-weight: 700;
    font-size: 15px;
    background-color:  #ac9789;
    padding: 17px 60px;
    margin: 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}
.btn span {
    position: relative;
    z-index: 1;
    color: #fff;
}
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #042c0e;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
} */
/* ----------------配送----- */
.rongbodybg {
  background-color: white;
}
.rongbodybg option {
  font-size: 14px;
}
.rongradiostyle p {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.rongradiostyle span {
  margin-left: 20px;
  font-size: 16px;
  color: #5e5d5d;
}
.rongtotal {
  width: 850px;
  /* border:  1px solid black; */
}
.rongsettotal p {
  font-size: medium;
  font-weight: bold;
  font-size: 1.5rem;
}
.rongsettotal span {
  font-size: medium;
  font-weight: bold;
  color: #1d3124;
  font-size: 1.5rem;
}
.rong {
  margin-left: 15px;
}
/* --------收件---------------- */
.w875 {
  width: 875px;
}
.borderbottom {
  border-bottom: 1px solid #5e5d5d;
}
.inputstyle {
  border-radius: 6px;
}
.visa img {
  width: 100px;
}
.year {
  margin-left: 35px;
}
.borderstyle {
  border: 1px solid #5e5d5d;
}
.folotright {
  float: right;
}
.rongorder {
  background-color: #1d3124;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
}
.rongsettotal,
.rongsettotal2 p {
  text-align: right;
}
.rongline {
  border-top: 1px solid rgb(5, 5, 5);
  /* width: 30%; */
}
.rongsettotal2 span {
  font-size: 1.6rem;
  color: red;
}
.rongorderdetail div {
  font-size: 20px;
  margin-bottom: 2px;
}
.rongorderdetail span {
  margin-left: 8px;
}
.red {
  color: rgb(246, 50, 50);
}
.rongdash {
  border-top: 1px dashed #ccc;
  /* position: relative; */
}
.rongorderlist {
  background-color: #1d3124;
  width: 150px;
  text-align: center;
  /* position: absolute; */
  color: #fff;
}
.rongorderlist p {
  font-size: 1rem;
}
.bo {
  margin-bottom: -30px;
}
.size {
  padding-top: 10px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.541);
}
.rongorder2 {
  background-color: #ccc;
  padding: 10px;
  padding-left: 40px;
  /* text-align: center; */
  font-size: 1.4rem;
}
.footer img {
  width: 50%;
  /* height: 70px; */
  margin-top: px;
}
.footer {
  background-color: #1d3124;
}
.white {
  color: #fff;
}
/* .footer h5 {
  font-size: 2rem;
} */
.footer i {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 2rem;
}
td {
  margin: auto;
}
.rongmoney {
  width: 300px;
  border-top: 1px solid black;
}
.rongmoney2 {
  width: 300px;
  /* border-top: 1px solid black; */
}
table img {
  width: 100px;
  height: 100px;
}
.myfontcolor {
  color: rgb(151, 151, 151);
}
/* 美化用 */
.rocky-fix {
  color: white;
}
.rocky-fix2 {
  color: #1d3124;
  /* font-size: 1.1rem; */
}
.rocky-fix3 {
  background-color: #1d3124;
}
.rocky-fix4 {
  margin-left: 8px;
}
.rocky-fix5 {
  padding-right: 20px;
  font-weight: bold;
}
.rocky-fix6 {
  font-size: medium;
  /* background-color: white; */
  border: 1px solid transparent;
  /* padding: 10px; */
  font-weight: bold;
}
.rocky-fix7 {
  font-size: medium;
}
.bg {
  background-color: #bacec1;
}
.cardbg {
  background-color: #f5f1d5;
}
.error {
  color: red;
  font-size: 0.3rem;
}
.rong-fix2 {
  color: #1d3124;
  font-size: 1.1rem;
}
