body {
  background-color: #f6f4e8;
}

.loginLeft img {
  width: 100%;
}
.loginRight {
  background-color: #fff;
}
.loginRight p {
  margin-top: 15px;
}
input {
  width: 30px;
}
.loginButtonGroup {
  display: flex;
}
.loginButtonGroup button {
  width: 100px;
  /* margin-left: 50px; */
}
