body {
  background-color: #f6f4e8;
}

.loginLeft img {
  width: 100%;
}
.loginRight {
  background-color: #fff;
}
.loginRight p {
  margin-top: 15px;
}
.registerButton button {
  color: #fff;
  background-color: #1d3124;
  border-color: #1d3124;
}
